body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

.weatherApp {
  background-color: #e11d7f;
  width: 90%;
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(51, 2, 32, 0.08);
}
.searchInput {
  background-color: #f9f7fe;
  border: none;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.searchButton {
  margin-left: 5px;
  font-size: 16px;
  background-color: #f15dd1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-details strong {
  color: #fef4f9;
}
footer {
  border-top: 1px solid #f1dee4;
  text-align: center;
  padding-top: 15px;
}
a {
  color: #fef4f9;
}
main {
  padding: 30px 0;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature {
  margin-top: 30px;
}
.current-icon {
  position: relative;
  top: 18px;
  width: 99px;
  height: 90px;
}

.current-value {
  font-size: 70px;
  font-weight: bold;
}

.current-unit {
  font-size: 30px;
  position: relative;
  top: -20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  margin-top: 10px;
  text-align: center;
  color: #fef4f9;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
.weather-forecast-card {
  background-color: rgba(126, 7, 106, 0.2);
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  width: 90%;
  max-width: 120px;
  box-shadow: 0 4px 8px rgba(44, 1, 37, 0.1);
  margin: 5px;
}
