body {
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.weatherApp {
  background-color: #f1dee4;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(51, 2, 32, 0.08);
}
.searchInput {
  background-color: #f9f7fe;
  border: none;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.searchButton {
  margin-left: 5px;
  font-size: 16px;
  background-color: #f15dd1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-details strong {
  color: #f15dd1;
}
footer {
  border-top: 1px solid #f1dee4;
  text-align: center;
  padding-top: 15px;
}
main {
  padding: 30px 0;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature {
  margin-top: 30px;
}
.current-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-value {
  font-size: 70px;
  font-weight: bold;
}

.current-unit {
  font-size: 30px;
  position: relative;
  top: -15px;
}
